<div class="main-container">
  <div class="header">
    <div class="banner"><h1>Hometown Church</h1></div>
    <nav>
    
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Home</a>
        <a routerLink="people" routerLinkActive="active">People</a>
        <a routerLink="groups" routerLinkActive="active">Groups</a>
        <a routerLink="money" routerLinkActive="active">Money</a>
        <a routerLink="delete" routerLinkActive="active">Delete</a>
      
    </nav>
  </div>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
  
  <div class="div-footer">
    <span class="footer"> &copy;2022 Hometown Church </span>
  </div>



</div>