<div class="people-mgr">

    <div class="search">
        <h2>Search for a person:</h2>
        <fieldset id="field">
            <input [(ngModel)]="field" type="radio" id="email" name="field" value="email">
            <label for="email">Email</label>
    
            <input [(ngModel)]="field"type="radio" id="phoneNumber" name="field" value="phoneNumber" checked>
            <label for="phoneNumber">Phone Number</label>
        </fieldset>
        <input [(ngModel)]="search" type="text" placeholder="Search"/>
        <input (click)="searchPeople(field, search)" type="submit" value="Search"/> 
    </div>

    <div class="person" *ngIf="person">
        <div class="basic-info">
            <h3>Basic Info</h3>
            First Name: 
            <input [(ngModel)]=firstName type="text" value="{{person.firstName}}"/>

            Middle Name: 
            <input [(ngModel)]=middleName type="text" value="{{person.middleName}}"/>

            Last Name: 
            <input [(ngModel)]=lastName type="text" value="{{person.lastName}}"/>

            Email: 
            <input [(ngModel)]=emailAddress type="text" value="{{person.emailAddress}}"/>

            Phone: 
            <input [(ngModel)]=phoneNumber type="text" value="{{person.phoneNumber}}"/>

            Type: 
            <input [(ngModel)]=type type="text" value="{{person.type}}"/>
<br>
            ID-Number: 
            {{person.id}}
            
        </div>
        <div class="profile">
            <h3>Profile Info</h3>
            Birth Date: 
            <input [(ngModel)]=birthDate type="text" value="{{person.profile.birthDate}}"/>

            Married: 
            <input [(ngModel)]=married type="text" value="{{person.profile.married}}"/>

            Anniversary: 
            <input [(ngModel)]=anniversary type="text" value="{{person.profile.anniversaryDate}}"/>

        </div>
 
        <div class="member-record">
            <h3>Member Record Info</h3>
            Deacon: 
            <input [(ngModel)]=deacon type="text" value="{{person.memberRecord.deacon}}"/>
            
            Join Date: 
            <input [(ngModel)]=joinDate type="text" value="{{person.memberRecord.joinDate}}"/>

            Join Method: 
            <input [(ngModel)]=joinMethod type="text" value="{{person.memberRecord.joinMethod}}"/>

            Membership End Date: 
            <input [(ngModel)]=membershipEndDate type="text" value="{{person.memberRecord.membershipEndDate}}"/>

            Comments: 
            <input [(ngModel)]=comments type="textarea" value="{{person.memberRecord.comments}}"/>
        </div>

    </div>
    <input (click)="updatePeople(
        firstName,
        middleName,
        lastName,
        emailAddress,
        phoneNumber,
        type
    )" type="submit" value="UPDATE"  *ngIf="person"/>







</div>

