<div class="people-mgr">

    <div class="search">
        <h2>Search for a person:</h2>
        <fieldset id="field">
            
            <input [(ngModel)]="field" type="radio" id="idNumber" name="field" value="idNumber" >
            <label for="idNumber">ID</label>

            <input [(ngModel)]="field" type="radio" id="email" name="field" value="email">
            <label for="email">Email</label>
    
            <input [(ngModel)]="field" type="radio" id="phoneNumber" name="field" value="phoneNumber" checked>
            <label for="phoneNumber">Phone Number</label>

        </fieldset>
        <input [(ngModel)]="search" type="text" placeholder="Search"/>
        <input (click)="searchPeople(field, search)" type="submit" value="Search"/> 
    </div>

    <div class="error" *ngIf="!(status >= 200 || status < 300)">
        <span class="red">We received an error. Please search again</span>

    </div>


    <div class="resultList" *ngIf="peopleArray.length">
        <span class="red" *ngIf="peopleArray">Multiple people found. Search by ID</span>

        <ul>
            <li *ngFor="let p of peopleArray">
                
                ID: {{p.id}}  ( {{p.firstName}} {{p.middleName}} {{p.lastName}} )
            </li>
        </ul>
    </div>



    <div class="person" *ngIf="person">
        <div class="basic-info">
            <h3>Basic Info</h3>
            First Name: 
            <input [(ngModel)]=firstName type="text" value="{{person.firstName}}"/>

            Middle Name: 
            <input [(ngModel)]=middleName type="text" value="{{person.middleName}}"/>

            Last Name: 
            <input [(ngModel)]=lastName type="text" value="{{person.lastName}}"/>

            Email: 
            <input [(ngModel)]=emailAddress type="text" value="{{person.emailAddress}}"/>

            Phone: 
            <input [(ngModel)]=phoneNumber type="text" value="{{person.phoneNumber}}"/>

            Type: 
            <input [(ngModel)]=type type="text" value="{{person.type}}"/>
<br>
            ID-Number: 
            {{person.id}}
            <input (click)="updateBasicInfo(
                id,
                firstName,
                middleName,
                lastName,
                emailAddress,
                phoneNumber,
                type
            )" type="submit" value="Update Basic Info"  *ngIf="person"/>
            
        </div>
        <div class="profile">
            <h3>Profile Info</h3>
            Birth Date: 
            <input [(ngModel)]=birthDate type="text" value="{{person.profile.birthDate}}"/>

            Married: 
            <input [(ngModel)]=married type="text" value="{{person.profile.married}}"/>

            Anniversary: 
            <input [(ngModel)]=anniversary type="text" value="{{person.profile.anniversaryDate}}"/>
            <br>
            <input (click)="updateProfile(
                id,
                birthDate,
                married,
                anniversary
            )" type="submit" value="Update Profile"  *ngIf="person"/>
        </div>
 
        <div class="member-record">
            <h3>Member Record Info</h3>
            Deacon: 
            <input [(ngModel)]=deacon type="text" value="{{person.memberRecord.deacon}}"/>
            
            Join Date: 
            <input [(ngModel)]=joinDate type="text" value="{{person.memberRecord.joinDate}}"/>

            Join Method: 
            <input [(ngModel)]=joinMethod type="text" value="{{person.memberRecord.joinMethod}}"/>

            Membership End Date: 
            <input [(ngModel)]=membershipEndDate type="text" value="{{person.memberRecord.membershipEndDate}}"/>

            Comments: 
            <input [(ngModel)]=comments type="textarea" value="{{person.memberRecord.comments}}"/>
            <BR>
            <input (click)="updateMemberRecord(
                id,
                deacon,
                joinDate,
                joinMethod,
                membershipEndDate,
                comments
            )" type="submit" value="Update Member Record"  *ngIf="person"/>
        </div>

    </div>

    <hr>


    <div class="link-container">
        <div class="children" *ngIf="person">
            <h3>Manage Children</h3>
            <ul class="childrenList" *ngIf="person.children.length > 0">
                <li class="child" *ngFor="let child of person.children">ID: {{child.id}} Name: {{child.firstName}} {{child.middleName}} {{child.lastName}}</li>
            </ul>

            <div class="manager-box">
                <div class="sub-box">
                    Add Child by ID: 
                    <input [(ngModel)]=childId type="textarea" value=""/>
                    <BR>
                    <input (click)="addChild(person.id, childId)" type="submit" value="Add Child" />
                </div>
                <div class="sub-box"><br>
                    Remove Child by ID: 
                    <input [(ngModel)]=childId type="textarea" value=""/>
                    <BR>
                    <input (click)="removeChild(person.id ,childId)" type="submit" value="Remove Child" />
                </div>
            </div>





        </div>

        <div class="parents" *ngIf="person">
            <h3>Manage Parents</h3>
            <ul class="parentsList" *ngIf="person.parents.length > 0">
                <li class="parent" *ngFor="let parent of person.parents">ID: {{parent.id}} Name: {{parent.firstName}} {{parent.middleName}} {{parent.lastName}}</li>
            </ul>

            <div class="manager-box">
                <div class="sub-box">
                    Add Parent by ID: 
                    <input [(ngModel)]=parentId type="text" value=""/>
                    <BR>
                    <input (click)="addParent(person.id ,parentId)" type="submit" value="Add Parent" />
                </div>
                <div class="sub-box"><br>
                    Remove Parent by ID: 
                    <input [(ngModel)]=parentId type="text" value=""/>
                    <BR>
                    <input (click)="removeParent(person.id ,parentId)" type="submit" value="Remove Parent" />
                </div>
            </div>

        </div>

        <div class="spouse" *ngIf="person">
            <h3>Manage Spouse</h3>
            <span class="spouseList" *ngIf="person.spouse != null"> 
                ID: {{person.spouse.id}} Name: {{person.spouse.firstName}} {{person.spouse.middleName}} {{person.spouse.lastName}}    
            </span><br *ngIf="person.spouse"><br *ngIf="person.spouse">
            <div class="manager-box">
                <div class="sub-box">
                    Add/Update Spouse by ID: 
                    <input [(ngModel)]=spouseId type="text" value=""/>
                    <BR>
                    <input (click)="addSpouse(person.id, spouseId)" type="submit" value="Add Spouse" />
                </div>
                <div class="sub-box"><br>
                    Remove Spouse: 
                    <input (click)="removeSpouse(person.id)" type="submit" value="Remove Spouse" />
                </div>
            </div>
        </div>

        <div class="groups" *ngIf="person">
            <h3>Involvement</h3>
            <ul class="groupList" *ngIf="person.groups.length > 0"> 
                <li *ngFor="let group of person.groups">
                    ID: {{group.id}}<br>Name: {{group.type}} ({{group.name}})<br><i>{{group.description}}</i>
                </li>
            </ul>
        </div>



    </div>



    <div class="create">
        <h2>Create New person:</h2>
        First Name: 
        <input [(ngModel)]=firstNameNew type="text" />

        Middle Name: 
        <input [(ngModel)]=middleNameNew type="text" />

        Last Name: 
        <input [(ngModel)]=lastNameNew type="text" />

        Email: 
        <input [(ngModel)]=emailAddressNew type="text" />

        Phone: 
        <input [(ngModel)]=phoneNumberNew type="text" />

        Type: 
        <input [(ngModel)]=type type="text" />
<br>
        <input (click)="createPerson(firstNameNew, middleNameNew, lastNameNew, emailAddressNew, phoneNumberNew, typeNew)" type="submit" value="Create"/> 
    </div>



</div>

