<div class="home-content">
    <div class="welcome">
        <h1> Welcome!</h1>
        <div class="server-status">
            <span>The Server Status:</span>
            {{isUpString}}
        </div>

        <p>You are logged in as <span>{{user.first}} {{user.last}} ({{user.accessLevel}})</span><p>
        Your most recent login dates:
        <ul>
            <li *ngFor="let date of user.loginStamps">{{date}}</li>
        </ul>  

    </div>

    <div class="instructions">
        <ul>
            <li>
                To add or modify people, including linking family members, click PEOPLE.
            </li>
            <li>
                To add or modify groups, including linking group members, leaders, or staff; click GROUPS.
            </li>
            <li>
                To delete people or groups, click DELETE.
            </li>
        </ul>
    </div>




















</div>
